//COLOR
$color-primary: rgb(230, 230, 230);
$color-primary-biis: rgb(240, 240, 240);
$color-primary-op: rgb(230, 230, 230, 0.2);
$color-secondary: rgb(26, 26, 26);
$color-theme: hsla(200, 80%, 86%, 0.8);
$color-theme-light: rgba(229, 242, 248, 0.521);
$color-theme-darker: rgb(229, 242, 248);
$color-theme-dark: rgba(65, 99, 113, 0.801);
$color-theme-grey: rgb(153, 197, 218);
$color-btn-shadow: rgba(65, 99, 113, 0.4);


$color-gradient-one: #abc3c9;
$color-gradient-two: #a1b5ba;
$color-gradient-three: #7d9196;
$color-gradient-four: #5d757b;

$color-gradient-pink: #ffc0cb;
$color-gradient-lpink: hsla(351, 70%, 96%, 0.8);
$font-family: "Source Sans Pro", sans-serif;

//FONT SIZES
$default-font-size: 2rem;

//GRID
$grid-widh: 140rem;
$gutter-vertical: 5rem;
$gutter-horizonatal: 5rem;

$margin-left: 20%;
$margin-right: -15%;